body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header-box {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
}

.header {
    font-weight:bolder;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-title-box {
    display: flex;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
}

.left-title-box {
    flex: 1;
    padding: 20px;
}

.right-title-box {
    flex: 1;
    padding: 20px;
}

img {
    height: auto;
    width: 600px;
}

.button {
    display: flex;
    background-color: #3882f6;
    font-weight: bold;
    max-width: 150px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 25px;

}

.random-info {
    display: flex;
    font-size: 36px;
    font-weight: 800;
    justify-content: center;
    padding: 30px;
}

.square-container {
    display: flex;
    justify-content: center;
}

.square-one, .square-two, .square-three, .square-four {
    display: flex;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    width: 100px;
}

.square {
    border-color: #3882F6;
    border-style:solid;
    border-radius: 10%;
    height: 100px;
    width: 100px;
    align-self: center;
    justify-self: center;
}

.quote-box {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 100px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;   
}

.author {
    display: flex;
    justify-content: flex-end;
    padding:20px;
    font-size: 30px;
    font-weight: bold;
    color: #1f2937;
}

.signup-box {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-center {
    min-height: 125px;
    min-width: 700px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.button-2 {
    display: flex;
    font-weight: bold;
    color: white;
    min-width: 150px;
    max-height: 25px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: solid;


}